{% set dateTime = event.startTimeUTC %}
{% set isUpcoming = dateTime | dateIsUpcoming %}

<article class="event flow {% if page.url == '/' %}no-side-borders{% endif %}">
  {% if starting_h_level == 'h3' %}
    <h3 class="h2"><a href="/events/{{ event.slug }}/">{{ event.content.title }}</a></h3>
  {% elif starting_h_level == 'h1' %}
    <h1 class="h2">{{ event.content.title }}</h1>
  {% else %}
    <h2><a href="/events/{{ event.slug }}/">{{ event.content.title }}</a></h2>
  {% endif %}
  <p class="date"><time datetime="{{dateTime}}">{{ dateTime | readableDateTime }}</time></p>
  <p>{{ event.content.overview | safe }}</p>

  {% if isUpcoming %}
    {% set calTitle = event.content.title | encodeForUrl %}
    {% set calDescription = event.content.overview | calendarDescription %}
    {% set calStartTime = event.startTimeEST | encodeForUrl %}
    {% set calJoinLink = event.content.join_link | encodeForUrl %}
    <p>Add to Calendar:</p>
    <div class="calendar-links">
      <a href="https://calndr.link/d/event/?service=google&start={{ calStartTime }}&title=PerformanceObserver {{ calTitle }}&timezone=America%2FNew_York&location={{ calJoinLink }}&description={{ calDescription }}" rel="nofollow" class="button" target="_blank">
        <img src="/images/calendar_add.svg" alt="calendar" height="16" width="16">
        Google
      </a>
      <a href="https://calndr.link/d/event/?service=apple&start={{ calStartTime }}&title=PerformanceObserver {{ calTitle }}&timezone=America%2FNew_York&location={{ calJoinLink }}&description={{ calDescription }}" rel="nofollow" class="button" target="_blank">
        <img src="/images/calendar_add.svg" alt="calendar" height="16" width="16">
        Apple
      </a>
      <a href="https://calndr.link/d/event/?service=outlookcom&start={{ calStartTime }}&title=PerformanceObserver {{ calTitle }}&timezone=America%2FNew_York&location={{ calJoinLink }}&description={{ calDescription }}" rel="nofollow" class="button" target="_blank">
        <img src="/images/calendar_add.svg" alt="calendar" height="16" width="16">
        Outlook
      </a>
    </div>
  {% endif %}

  <div class="talk-cards">
    {% for talk in event.talks %}
      <article>
        <div class="talk-card">
          {% if starting_h_level == 'h3' %}
            <h4>{{ talk.content.title }}</h4>
          {% elif starting_h_level == 'h1' %}
            <h2 class="h3">{{ talk.content.title }}</h2>
          {% else %}
            <h3>{{ talk.content.title }}</h3>
          {% endif %}
          {{ talk.content.description | markdown | safe }}
        </div>

        {% for speaker in talk.speakers %}
          <div class="person-card">
            <div class="person-grid">
              <div class="headshot" style="background: url('{{ speaker.content.headshot.filename }}/m/240x240') center / cover , radial-gradient(circle, var(--charcoal), var(--newsprint)) 0 0 / 2px 2px space;;">
              </div>
              <div>
                <p><strong>{{ speaker.content.name }}</strong>{% if speaker.content.pronouns %} ({{ speaker.content.pronouns }}){% endif %} {{ speaker.content.short_bio }}</p>
              </div>
            </div>
            <p class="person-social">
              {% if speaker.content.website %}
              <a rel="nofollow" href="{{ speaker.content.website }}">
                <img src="/images/website.svg" loading="lazy" alt="" height="16" width="16">
                Website
              </a>
              {% endif %}
              {% if speaker.content.mastodon %}
                <a rel="nofollow" href="{{ speaker.content.mastodon }}">
                <img src="/images/mastodon.svg" loading="lazy" alt="" height="16" width="16">
                  Mastodon
                </a>
              {% endif %}
              {% if speaker.content.bluesky %}
                <a rel="nofollow" href="{{ speaker.content.bluesky }}">
                <img src="/images/bluesky.svg" loading="lazy" alt="" height="16" width="16">
                  BlueSky
                </a>
              {% endif %}
              {% if speaker.content.linkedin %}
                <a rel="nofollow" href="{{ speaker.content.linkedin }}">
                  <img src="/images/linkedin.svg" loading="lazy" alt="" height="16" width="16">
                  LinkedIn
                </a>
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </article>
    {% endfor %}
  </div>
</article>
