---
layout: layouts/base.njk
title: About Sia Karamalegos
description: Sia is a visual artist specializing in the human figure and landscapes. She works in charcoal, watercolor, and ink.
---

<h1>About</h1>

<div class="image-with-text">

  <div>
    <p></p>
    <p></p>
  </div>
</div>

<h2>Newsletter</h2>
<p>To get notified of events, sign up for our newsletter:</p>
<!-- <form
  action="https://buttondown.com/api/emails/embed-subscribe/sia.studio"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/sia.studio', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Your email address</label>
  <input type="email" name="email" id="bd-email" placeholder="you@gmail.com">
  <input type="submit" value="Subscribe">
  <small><a href="https://buttondown.com/refer/sia.studio" target="_blank" rel="nofollow">Powered by Buttondown.</a></small>
</form> -->
