---
layout: layouts/base.njk
title: Contact Sia Karamalegos
description: How to contact the artist Sia Karamalegos including through social media, email, and via contact form
---

<h1>Contact</h1>
<!-- TODO: change email and socials maybe remove form and just do email -->
<p>To contact use, email us at <a href="mailto:hi@sia.studio" target="_blank">hi@sia.studio</a>, message me on <a href="https://www.instagram.com/sia.karamalegos/" target="_blank">Instagram</a>, or use the form below to send me a message:</p>

<form name="contact" netlify netlify-honeypot="bot-field">
  <input type="text" name="bot-field">
  <label for="contact-name">Name</label>
  <input type="text" name="name" id="contact-name" required>

  <label for="contact-email">Email</label>
  <input type="email" name="email" id="contact-email" required>

  <label for="contact-subject">Subject</label>
  <input type="text" id="contact-subject" name="subject">

  <label for="contact-message">Message</label>
  <textarea name="message" id="contact-message" required></textarea>
  <button type="submit">Send</button>
</form>
