---
layout: layouts/base.njk
title: Events
description: See upcoming and past virtual meetup events for the PerformanceObserver web performance meetup.
---

<h1>Events</h1>

<div class="coffee-container">
{% set upcomingEvents = events | upcomingEvents %}
{% if upcomingEvents and upcomingEvents.length > 0 %}
  {% for event in upcomingEvents %}
    {% include 'upcomingEvent.njk' %}
  {% endfor %}
{% else %}
  <p>Stay tuned for the next event announcement!</p>
{% endif %}
</div>

{% set oldEvents = events | pastEvents %}
{% if oldEvents and oldEvents.length > 0 %}
  <h2>Past Events</h2>
  <div class="events-past">
    {% for event in oldEvents %}
      {% include 'event.njk' %}
    {% endfor %}
    <article class="event flow">
      <h3>This is an older event</h3>
      <p class="date"><time datetime="Thu Dec 12 2024 12:00:00 GMT-0500 (Eastern Standard Time)">Dec 12, 2024, 12:00 PM EST</time></p>
      <p>In this episode, Bob will walk us through how he built his books page, and David will show us how to switch our analytics to Umami.</p>
      <ul>

          <li><a href="/talks/automatically-generating-social-share-images-using-cloudinary/"><strong>Automatically generating social share images using Cloudinary</strong> by Sia Karamalegos</a></li>

          <li><a href="/talks/talk-1/"><strong>Talk 1</strong> by Speaker 1 and Sia Karamalegos</a></li>

      </ul>
    </article>
  </div>
{% endif %}

<script>
  function convertTime() {
    const timeNodes = document.querySelectorAll("time");

    timeNodes.forEach((node) => {
      const date = new Date(node.dateTime);
      const newLocaleString = date.toLocaleString([], {
        // timeStyle: "long",
        // dateStyle: "medium",
        day: '2-digit',
        month: "short",
        year: "numeric",
        hour: "numeric",
        minute: "numeric",
        timeZoneName: "short",
      });
      node.textContent = newLocaleString;
    });
  }

  convertTime()
</script>
